.tablist-component {
    .close-icon {
        visibility: hidden;
    }
    .nav-link {
        color: #5c5d5f;
    }
    .nav-link.active {
        background: #717f8e;
    }
    .nav-link:hover .close-icon {
        visibility: visible;
    }
    .nav-link.active .close-icon {
        visibility: visible;
        // background-color: #3570af;
    }
    .unsaved-icon {
        display: inline-block;
        background: rgb(212, 212, 212);
        width: 11px;
        height: 11px;
    }
    .withUnsaved.nav-link .close-icon {
        display: none;
    }
    .withUnsaved.nav-link:hover .close-icon {
        display: inline-block;
    }
    .withUnsaved.nav-link:hover .unsaved-icon {
        display: none;
    }

}